/* Improve readability with better fonts. */
.reveal {
    font-family: "IBM Plex Sans", "Source Sans Pro", sans-serif;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Roboto Slab", sans-serif;
    margin: 0 0 0.5em 0 !important;  /* The default margins are too generous. */
}
.CodeMirror, .reveal pre, pre {
    font-family: "IBM Plex Mono", "Source Code Pro", monospace;
}
.rise-enabled .CodeMirror, .rise-enabled .reveal pre, .rise-enabled pre, .rise-enabled .prompt  {
    font-family: "IBM Plex Mono", "Source Code Pro", monospace;
    font-size: 24pt !important;
}

/* Hide annoying controls */
.rise-enabled #exit_b, .rise-enabled #help_b {
    visibility: hidden;
}

/* Smaller prompt to save some space */
div.prompt {
    min-width: 10ex;
}

/* Reduce excessive margins. */
.reveal ul, .reveal ol, .reveal p {
    margin: 0 0 0.5em 0 !important;
}
